.navbar-custom {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}
.nav-links a:hover {
    color: #8a2be2;
    border-bottom: 2px solid #8a2be2;
}
.main-btn {
    background-color: #00bcd4;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.main-btn:hover {
    transform: scale(1.1);
    background-color: #8a2be2;
}
.card-custom {
    padding: 20px 40px;
    background: #f8f9fa;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: #8a2be2;
}

.card-custom:hover {
    transform: scale(1.20);
}
.footer {
    background-color: #111;
    padding: 30px;
    text-align: center;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-wrapper .bi {
    color: white;
    font-size: 24px;
    transition: 0.3s;
}

.icon-wrapper .bi:hover {
    color: #8a2be2;
    transform: scale(1.3);
}
.cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item {
    background: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.05);
}
